@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Import Text */
/* HTML Elements */
/* All Header */
/* All Footer */
/* Buttons   */
/* Submit Comments */
/* Add to Album */
/* Edit */
/* Delete */
/* Section 1 */
/* Comments */
/* Add Song & Album form */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* I think it's clever starting out by using only a percentage of the type. Forces % use when setting type and keeps in responsive */
    font-size: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    
}

h1,
h2,
p {
    margin: 1.6 rem 0;
}

h1 {
    font-weight: 800;
    /* font-size: 2.6rem; */
}

h2 {
    font-weight: 800;
    /* font-size: 2.4rem; */
}

h3 {
    font-weight: 600;
    /* font-size: 2.2rem; */
}

p {
    font-weight: 400;
    /* font-size: 1.8rem; */

}

/* img {
    width: 100%;
    Height auto adjust to size of screen
    height: auto;
} */

.mainPage{
    background-color: red;

}
.interior-container {
    display:flex;  
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* align-items: left;
    margin: auto; */
    background-color: blueviolet;
    
}

.section-style{

}

/* Header  */
header {
    height: 100px;
    background-color: aquamarine;
}

/* Footer */
footer {
    height: 80px;
    background-color: #222;
    color: #fff;
    /* Allows you to center the content per the height already set within container */
    line-height: 80px;
    text-align: center;

}
/* -----------------------------------------Button------------------------------------- */

button {
    background-color:deeppink;
    size: 30px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

/*-----------------------------------------Comments-----------------------------------------*/
.comments {
    background-color: darkgreen;
    
}

.comments h1{
    font-size: xx-large;
    padding-left: 2.5rem;
    padding-top: 3rem;
}
.current-comment{
    display: flex;
    flex-direction: column;
}

/*--------------------------------------- Add Album & Song Form----------------------------------*/
.add-album,
.add-song {
    background-color: burlywood;
}
.add-album h1,
.add-song h1{
    font-size: xx-large;
    padding-left: 2.5rem;
    padding-top: 3rem;
}
.album-form,
.song-form {
    margin: 5rem 2rem;
    display: flex;
    flex-direction: column;
}




/*------------------------------------- Home Page/Albums------------------------------------- */

/*Page Welcome */


.welcome{
    padding: 20em;
    border: 6.75px solid black;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.6)), url(/images/crate-digging.jpg);
    background-repeat: no-repeat;
    background-color: coral;
}
/* .welcome-art{   
    width: 100vw;
    border-color: rgba(0,0,0,1);
    background: linear-gradient(rgba(0,0,0,1), rgba(163, 80, 80, 0.6)); 
} */

.text-styling{
    background-color: rgb(222, 184, 135, 0.45);
    
}

.text-styling h1{
    font-size: xxx-large;
    padding-bottom: .5em;
}

.text-styling small{
    
    font-size: larger;
}
/* Album Collection */
.addendum h1{
    font-size: xx-large;
    padding-left: 2.5rem;
    padding-top: 3rem;
}
.album-area{
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 425px));
    gap: 1.25rem;     
}  
.album-card{    
    padding-left: 2rem;
    padding-top: 1.5rem;  
}  
.image-art{
    /* width: 300px;  */
    min-width: 300px;
    max-width: 400px;
    
}
/* ----Add Album */


/* ---------------------------------------Album Page------------------------------------------*/

/* Album Art */
.artist-image-section{
    display: grid;
}
.artist-image{
    width: 100vw;
    /* filter: grayscale(80%) opacity(50%); */
    
}
/* Main Album Infor */
.album-main-info{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
  
    /* justify-content: space-evenly; */
    padding-left: 6.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
}
.main-elements{
    grid-column-start: 1;    
    display: flex;
    flex-direction: column;
}
.song-list{
    grid-column-start: 2;
    
}
.song-list h3{
    font-size: larger;
}
.main-elements button, .main-elements input{
    width: 175px;
    margin-left: 1rem;
}
.interior-album-art{
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 500px;
}
.main-elements h1,
.song-list h1{
    padding-bottom: 1.5rem;
    font-size: x-large;
}
.edit-album-name{
    margin-top: 1rem;
    
}
.delete-song-button{
    margin-bottom: 1.25rem;
    padding: 10px;
    font-size: small;
}

/*-----------------------------------------Song Page-------------------------------------------*/

    /* Art Section */
.album-art {
    background-color: darkorange;
}

    /* Main Section */

