@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Import Text */
/* HTML Elements */
/* All Header */
/* All Footer */
/* Buttons   */
/* Submit Comments */
/* Add to Album */
/* Edit */
/* Delete */
/* Section 1 */
/* Comments */
/* Add Song & Album form */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* I think it's clever starting out by using only a percentage of the type. Forces % use when setting type and keeps in responsive */
    font-size: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    
}

h1,
h2,
p {
    margin: 1.6 rem 0;
}

h1 {
    font-weight: 800;
    /* font-size: 2.6rem; */
}

h2 {
    font-weight: 800;
    /* font-size: 2.4rem; */
}

h3 {
    font-weight: 600;
    /* font-size: 2.2rem; */
}

p {
    font-weight: 400;
    /* font-size: 1.8rem; */

}

/* img {
    width: 100%;
    Height auto adjust to size of screen
    height: auto;
} */

.mainPage{
    background-color: red;

}
.interior-container {
    display:flex;  
    flex-direction: column;
    justify-content: space-between;
    width: 98%;
    /* align-items: left;
    margin: auto; */
    background-color: blueviolet;
    
}

.section-style{

}

/* Header  */
header {
    height: 100px;
    background-color: aquamarine;
}

/* Footer */
footer {
    height: 80px;
    background-color: #222;
    color: #fff;
    /* Allows you to center the content per the height already set within container */
    line-height: 80px;
    text-align: center;

}
/* -----------------------------------------Button------------------------------------- */

button {
    background-color:deeppink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

/*-----------------------------------------Comments-----------------------------------------*/
.comments {
    background-color: darkgreen;
    
}
.current-comment{
    display: flex;
    flex-direction: column;
}

/*--------------------------------------- Add Album & Song Form----------------------------------*/
.add-album,
.add-song {
    background-color: burlywood;
}

.album-form,
.song-form {
    margin: 5rem 2rem;
    display: flex;
    flex-direction: column;
}




/*------------------------------------- Home Page/Albums------------------------------------- */

    /*Page Welcome */
.welcome {
    background-color: coral;
    width: 100%;
}

    /* Album Collection */
.album-area{
    display: flex;
    flex-direction: row;
    
}  


/* .album-card{
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    border-radius: 1rem;

}   */
.image-art{
    width: 300px; 
    
}



/* ---------------------------------------Album Page------------------------------------------*/

/* Album Art */

/* Main Album Infor */





/*-----------------------------------------Song Page-------------------------------------------*/

    /* Art Section */
.album-art {
    background-color: darkorange;
}

    /* Main Section */

